ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  list-style: none;
  gap: 1ch;
}

.plant {
  display: grid;
  border: 1px solid lightgray;
  padding: 1rem;
  gap: 1ch;
  text-align: center;
}

figure {
  font-size: 5rem;
}

button {
  padding: 0.25rem;
}
